<!DOCTYPE html>
 <html>
   <head>
      <title>Registrar's Office Class Search</title>

      <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

   </head>
   <body>
      <div class="container bg-primary">
         <center>
             <h1>Registrar's Office: Class Details</h1>
         </center>
      </div>

      {%- if isError == True -%}
      <div class="container">
         <br>
         {{errorMsg}}
      </div>
      {% else %}
      <!--Class Details-->
      <div class="container">
         <h2>Clamvs Details (class id  {{classId}})</h2>
         <b>Course Id: </b> {{classDetails.getCourseId()}}<br>
         <b>Days: </b>{{classDetails.getDays()}}<br>
         <b>Start time: </b>{{classDetails.getStartTime()}}<br>
         <b>End time: </b>{{classDetails.getEndTime()}}<br>
         <b>Building: </b>{{classDetails.getBldg()}}<br>
         <b>Room: </b>{{classDetails.getRoomnum()}}<br>
         
         <!--Course Details-->
         <hr>
         <h2>Course Details (course id {{classDetails.getCourseId()}})</h2>
         {% set depts = classDetails.getDepts()%}
         {% set profs = classDetails.getProfs()%}
   
         <!--Departments-->
         {% for dept in depts %}
         <b>Dept and Number: </b>{{dept}}<br>
         {% endfor %}
   
         <b>Area: </b>{{classDetails.getArea()}}<br>
         <b>Title: </b>{{classDetails.getTitle()}}<br>
         <b>Description: </b>{{classDetails.getDescrip()}}<br>
         <b>Prerequisites: </b>{{classDetails.getPrereqs()}}<br>
   
         <!--Professors-->
         {% for prof in profs %}
         <b>Professor: </b>{{prof}}<br>
         {% endfor %}
         <hr>
      </div>
      {%- endif %}
      <!--Footer-->
      <div class="container bg-info">
         <center>
            Created by <a
            href="http://www.cs.princeton.edu/~rdondero">
            Bob Dondero</a>
         </center>
      </div>
   </body>
 </html>


